python-decouple==3.6  # http://github.com/henriquebastos/python-decouple/
psycopg2==2.9.3  # https://psycopg.org/
black==22.1.0  # https://github.com/psf/black#
flake8==4.0.1  # https://github.com/PyCQA/flake8
flake8-isort==4.1.1  # https://github.com/gforcada/flake8-isort
pre-commit==2.19.0  # https://github.com/pre-commit/pre-commit
mypy==0.950  # http://www.mypy-lang.org/
click==8.0.3  # https://palletsprojects.com/p/click/ - Pinned to 8.0.3 to fix `black` formatter issue
web3==5.29.0  # https://github.com/ethereum/web3.py
requests==2.27.1  # https://requests.readthedocs.io/
pytest==7.1.2  # https://docs.pytest.org/en/latest/
